<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tutorial Test Suite">
	<listeners>
		
		<listener class-name="com.tutorial.qa.listeners.MyListeners"></listener>
	</listeners>
  <test name="Tutorial Testcases">
    <classes>
		<class name="testCases.RegisterTest"/>
        <class name="testCases.LoginNinjaTest"/>
        <class name="testCases.SearchTest"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
